/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#bucketLists div {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

li {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 5px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
}

button {
  margin-left: 10px;
  padding: 0.2em;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-block: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

form input,
form select,
form button {
  padding: 0.5em;
}
